<ion-header>
  <ion-toolbar>
    <ion-title> BMI Calculator </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-segment [value]="kgMode" (ionChange)="onSelect($event)">
          <ion-segment-button [value]="kgMode"> Kgs/Feets </ion-segment-button>
          <ion-segment-button [value]="poundMode">
            Pounds/Meters
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label position="floating"
            >Weight {{mode === kgMode ? '(kg)' : '(pounds)'}}
          </ion-label>
          <ion-input min="0" max="500" #weight type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label position="floating"
            >Height {{mode === kgMode ? '(meters)' : '(inchs)'}}
          </ion-label>
          <ion-input min="0" max="90" type="number" #height></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button
          class="ion-margin-top"
          expand="block"
          (click)="onCalculateBMI(weight.value,height.value)"
          >Calculate</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size-md="6" offset-md="3">
        <ion-text class="bmi-text-title" *ngIf="bmi"
          >You are {{weightText}} </ion-text
        ><br />
        <ion-text class="bmi-text" [color]="color">{{bmi.toFixed(2)}}</ion-text>
        <span>bmi</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="3" offset-md="4.5">
        <ion-img
          src="https://www.bajajfinservmarkets.in/content/dam/bajajfinserv/calculators/bmi/bmi-result-p.png"
        >
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
